.footer{
    background-color: #A11C41 !important;
    grid-area: footer;
    display: grid;
    grid-template-areas:
    "enlaces none none redes";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    row-gap: 10px;
    column-gap: 10px;
    height: 30vh;
    transform: translateY(bottom);

    ul{
        list-style-type: none;
        padding: 2rem;
    
        a{
        text-decoration: none;
        color: linen;
        font-size: 1rem;
    
        p{
        color: coral;
        font-size: 1.1rem;
        padding-bottom: .5rem;
        padding-top: .5rem;
        padding-right: 1rem;
    
        img{
        margin: 1rem;
        height: 3.75rem;
        transform: translateX(3rem);
                }
            }
        }
    }
}

    

.enlaces{
    grid-area: enlaces;
}

.redes{
    grid-area: redes;
}