$estilos:(
    centrar: center,
    dark: #A11C41,
    light: coral,
    fuente: 'Italianno',
    margen: 1.75rem,
);

h1, .h1 {
    font-size: calc(1.75rem + 2vw);
  }


.titles{
    color: map-get($estilos, dark);
    text-align: map-get($estilos, centrar);
    font-family: map-get($estilos, fuente);
    margin-top: map-get($estilos, margen) !important;
}
