.navbar{
    margin: 1.5 rem;
    font-family: 'Roboto', sans-serif;
        background: {
        color: #A11C41;
        size: cover;}
}
    ul{
    list-style-type: none;
    padding: 1rem;

    li{
    display: inline-block;
    margin: .25rem;

    a{
    text-decoration: none;
    color: linen !important;
    font-size: 1rem !important;

        &:hover {
        color: coral !important;
        }

    .navbar-toggler{
        color: rgba(255, 255, 255, 0.55);
        border-color: rgba(255, 255, 255, 0.1);
        z-index: 100;
    }
    }
    }
    }
    
    
.dropdown-menu {
    border: none;
    background: {
        color: #a11c4249;
        blend-mode: saturation;
    }
}