@import "maps";
@import "nav_footer";
@import "contacto";
@import "mixins_extends";
@import "body";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1, .h1 {
    font-size: calc(1.75rem + 2vw); }
  
.titles {
    color: #A11C41;
    text-align: center;
    font-family: "Italianno";
    margin-top: 1.75rem !important;
}
  
  

/* Index */

.novedades p{
    font-family: 'Roboto', sans-serif;
    color: black;

    a{
        text-decoration: none;
        color: #A11C41;
    }
}

.mb-3 {
    margin-bottom: 0rem !important;
}

.img-fit{
    height: 36vh;
    width: auto;
}

/* Galería */

.g-4{
    margin: 2.5rem;
}


/* Historia */

.text-white{
    margin-top: 2.5rem !important;
}

.card-title-overlay{
    font-size: 1.6rem;
    background-color: #1a1d2080;
    text-align: center;
}

.card-text-overlay{
    font-size: 1.1rem;
    background-color: #1a1d2080;
    text-align: center;
}


.card-text-centered{
    text-align: center;
}

.border-light{
    border-color: transparent !important;
}

.medialunas{
    transform: scale(.95);
}

.jurassic{
    transform: scale(.95);
}

.ps{
    transform: scale(.95);
}

.historia .card{
    margin: 1rem;

    img{
        margin-bottom: .75rem;
    }
}


.card-img{
    margin-top: .75rem;
}


/* Productos  */

.productos{
    background-image: none !important;
}

.caption{
    margin-top: 2.5rem;
    color: #A11C41;
    font-family: 'Italianno', cursive;
    font-size: 1.75rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dotted;
}


/* Contacto */

.g-3{
    margin: 5vw;
}

.btn-light{
    color: #A11C41;
    margin-top: 1rem;
    margin-right: 1rem;
    
    &:hover {
        color: #A11C41;
        background-color: coral;
        border-color: #ff8f66;
  }
}

/* Media Queries */

@media screen and (max-width: 768px) {
body {
    background-color: #A11C41;
    background-image: linear-gradient(to bottom, #A11C41, coral) !important;
}

.titles{
    color: coral;
}

/* Footer */

.footer{
    background-color: coral;

    p{
        color: #A11C41;
    }

    a{
        color: black !important;
    }
}

/* Index */

.novedades a{
    color: coral;
}

.img-fit{
    width: 100vw !important;
    height: auto;
}

.mb-3 {
    width: auto !important;
}



/* Productos */

.table-dream {
        --bs-table-bg: #a01c42;
        --bs-table-striped-bg: #ad1f47;
        --bs-table-striped-color: linen;
        color: linen;
        border-color: coral;
}

.productos table th{
    color: coral;
}

.dropdown-menu {
    background-color: #ff7f506e;
}

.caption{
    color: coral;
}

/* Contacto */

.btn-light{
    color: coral;
    margin-top: 1rem;
    margin-right: 1rem;
    
    &:hover {
        color: coral;
        background-color:#ad1f47;
        border-color: #c32250;
  }
}

label{
    color: linen;
}


/* Historia */

.historia{ 

    p{
    color: linen;
    }

    img{
        height: 16rem;
    }
}

.card-title-overlay, .card-text-overlay{
    font-size: (inherit -.4rem) !important;
    background-color: hsla(210, 10%, 11%, 0.25);
}

.card{
    width: 90vw;

    img{
        width: auto;
        height: auto;
        margin-bottom: .5rem;
    }
}

.card-img{
    margin-top: .5rem;
}


/* Galería */

.g-4-v2{
    margin-left: 6vw;
}

.galería{
    .card{
        width: 80vw !important;
    }
}

}

@media (min-width: 768px) and (max-width: 1199.98px){

/* Index */

.img-fit{
    width: auto !important;
}

.g-4{
    margin-left: 14vw !important;
    margin-right: 15vw !important;
    width: 70vw !important;
}


.g-4-v2{
    margin-left: 13vw !important;
    margin-right: 15vw !important;
}

}