@import "maps";
@import "nav_footer";
@import "contacto";
@import "mixins_extends";
@import "body";
// @import "footer";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1, .h1 {
    font-size: calc(1.75rem + 2vw); }
  
.titles {
    color: #A11C41;
    text-align: center;
    font-family: "Italianno";
    margin-top: 1.75rem !important;
}
  
  

/* Index */

.novedades p{
    font-family: 'Roboto', sans-serif;
    color: black;

    a{
        text-decoration: none;
        color: #A11C41;
    }
}

.mb-3 {
    margin-bottom: 0rem !important;
}

.img-fit{
    height: 36vh;
    width: auto;
}

/* Galería */

.g-4{
    margin: 2.5rem;
}


/* Historia */

.text-white{
    margin-top: 2.5rem !important;
}

.card-title-overlay{
    transform: translateY(25rem);
    font-size: 1.6rem;
    background-color: #1a1d2080;
    text-align: center;
}

.card-text-overlay{
    transform: translateY(25rem);
    font-size: 1.1rem;
    background-color: #1a1d2080;
    text-align: center;
}


.card-text-centered{
    text-align: center;
}

.border-light{
    border-color: transparent !important;
}

.medialunas{
    transform: scale(.95);
}

.jurassic{
    transform: scale(.95);
}

.ps{
    transform: scale(.95);
}

.historia .card{
    margin: 1rem;
}


/* Productos  */

.productos{
    background-image: none !important;
}

.caption{
    margin-top: 2.5rem;
    color: #A11C41;
    font-family: 'Italianno', cursive;
    font-size: 1.75rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dotted;
}


/* Contacto */

.formulario{
    padding: 1rem;

    label{
        font-family: 'Roboto', sans-serif;
        color: linen;
    }

    input{
        font-family: 'Roboto', sans-serif;
        margin: 1rem;
        margin-left: 3rem;
    }

    textarea{
        font-family: 'Roboto', sans-serif;
        margin-top: 1rem;
        margin-left: 3rem;
    }
}

.name{
    transform: translateX(5px)
}

.lastname{
    transform: translateX(5px)
}

.mail{
    transform: translateX(-16px);
}

.bttn{
    cursor: pointer;
    border-radius: 1rem;
    padding: .25rem;
    margin: .25rem;
}

.bttn:hover, .bttn:focus{
    transform: scale(1.05);
    color: coral;
}


/* Media Queries */

@media screen and (max-width: 768px) {
body {
    background-color: #A11C41;
    background-image: linear-gradient(to bottom, #A11C41, coral);
}

.titles{
    color: coral;
}

/* Footer */

.footer{
    background-color: coral;

    p{
        color: #A11C41;
    }

    a{
        color: black !important;
    }
}

/* Index */

.novedades a{
    color: coral;
}

.img-fit{
    width: 100vw;
    height: auto;
}


/* Productos */

.table-dream {
        --bs-table-bg: hsl(343, 70%, 37%);
        --bs-table-striped-bg: #ad1f47;
        --bs-table-striped-color: linen;
        color: linen;
        border-color: coral;
}

.productos table th{
    color: coral;
}

.dropdown-menu {
    background-color: #ff7f506e;
}

.caption{
    color: coral;
}

/* Contacto */

.formulario{
    background-image: linear-gradient(to bottom, #A11C41, coral);

    label{
    color: black;
    }

    textarea{
    transform: scale(0.7);
    }
}

.name{
    transform: translateX(-.1rem);
}

.lastname{
    transform: translateX(-.1rem);
}

.mail{
    transform: translateX(-1.4rem);
}

.tel{
    transform: translateX(-.5rem);
}


.bttn:hover, .bttn:focus{
    color: #A11C41;
}


/* Historia */

.historia{ 

    p{
    color: linen;
    }

    img{
        height: 16rem;
    }
}

.card-title-overlay, .card-text-overlay{
    transform: translateY(5.5rem);
    font-size: inherit (-.2rem);
    background-color: hsla(210, 10%, 11%, 0.25);
}

.card{
    width: 90vw;

    img{
        width: auto;
        height: auto;
        margin-bottom: .5rem;
    }
}

.card-img{
    margin-top: .5rem;
}

}