@charset "UTF-8";
.navbar {
  margin: 1.5 rem;
  font-family: 'Roboto', sans-serif;
  background-color: #A11C41;
  background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/chocolate-1533631081.jpg?resize=768:*);
  background-size: cover;
}

ul {
  list-style-type: none;
  padding: 1rem;
}

ul li {
  display: inline-block;
  margin: .25rem;
}

ul li a {
  text-decoration: none;
  color: linen !important;
  font-size: 1rem;
}

ul li a:hover {
  color: coral !important;
}

.dropdown-menu {
  border: none;
  background-color: #a11c4249;
  background-blend-mode: saturation;
}

.formulario {
  padding: 1rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#A11C41), to(coral));
  background-image: linear-gradient(to top, #A11C41, coral);
}

.formulario label {
  font-family: 'Roboto', sans-serif;
  color: linen;
}

.formulario label input {
  font-family: 'Roboto', sans-serif;
  margin: 1rem;
  margin-left: 3rem;
}

.formulario label input textarea {
  font-family: 'Roboto', sans-serif;
  margin-top: 1rem;
  margin-left: 3rem;
}

.name {
  -webkit-transform: translateX(0.3rem);
          transform: translateX(0.3rem);
}

.lastname {
  -webkit-transform: translateX(0.3rem);
          transform: translateX(0.3rem);
}

.mail {
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

.bttn {
  cursor: pointer;
  border-radius: 1rem;
  padding: .25rem;
  margin: .25rem;
}

.bttn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: coral;
}

h1, .h1 {
  font-size: calc(1.75rem + 2vw);
}

.titles {
  color: #A11C41;
  text-align: center;
  font-family: "Italianno";
}

.logo__fb:hover {
  background-color: rgba(70, 131, 180, 0.5);
}

.logo__insta:hover {
  background-color: rgba(186, 85, 211, 0.5);
}

.table {
  padding: 1rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.table th {
  font-family: 'Italianno', cursive;
  font-size: 1.75rem;
  text-align: center;
  color: #A11C41;
  padding-inline: .5rem;
}

.table-dream {
  @ex --bs-table-bg: coral;
  --bs-table-striped-bg: #ff7752;
  color: #000;
  border-color: #A11C41;
}

body {
  background-color: coral;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#A11C41), to(coral));
  background-image: linear-gradient(to top, #A11C41, coral);
}

.arriba {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  z-index: 10;
}

.arriba img {
  width: 50px;
  height: 50px;
}

.arriba img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Index */
.novedades {
  padding: 1.5rem;
}

.novedades p {
  font-family: 'Roboto', sans-serif;
  color: black;
}

.novedades p a {
  text-decoration: none;
  color: #A11C41;
}

.mb-3 {
  margin-bottom: 0rem !important;
}

.img-fit {
  height: 36vh;
  width: auto;
}

/* Galería */
.g-4 {
  margin: 2.5rem;
}

/* Historia */
.text-white {
  margin-top: 2.5rem !important;
}

.card-title-overlay {
  -webkit-transform: translateY(25rem);
          transform: translateY(25rem);
  font-size: 1.6rem;
  background-color: #1a1d2080;
  text-align: center;
}

.card-text-overlay {
  -webkit-transform: translateY(25rem);
          transform: translateY(25rem);
  font-size: 1.1rem;
  background-color: #1a1d2080;
  text-align: center;
}

.border-light {
  border-color: transparent !important;
}

.medialunas {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.jurassic {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.ps {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.historia .card {
  margin: 1rem;
}

/* Productos  */
.productos {
  background-image: none !important;
}

.caption {
  margin-top: 2.5rem;
  color: #A11C41;
  font-family: 'Italianno', cursive;
  font-size: 1.75rem;
  text-align: center;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

/* Contacto */
.formulario {
  padding: 1rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#A11C41), to(coral));
  background-image: linear-gradient(to top, #A11C41, coral);
}

.formulario label {
  font-family: 'Roboto', sans-serif;
  color: linen;
}

.formulario input {
  font-family: 'Roboto', sans-serif;
  margin: 1rem;
  margin-left: 3rem;
}

.formulario textarea {
  font-family: 'Roboto', sans-serif;
  margin-top: 1rem;
  margin-left: 3rem;
}

.name {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.lastname {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.mail {
  -webkit-transform: translateX(-16px);
          transform: translateX(-16px);
}

.bttn {
  cursor: pointer;
  border-radius: 1rem;
  padding: .25rem;
  margin: .25rem;
}

.bttn:hover, .bttn:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: coral;
}

/* Footer */
.footer {
  background-color: #A11C41;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "enlaces none none redes";
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  height: 30vh;
  -webkit-transform: translateY(bottom);
          transform: translateY(bottom);
}

.footer ul {
  list-style-type: none;
  padding: 2rem;
}

.footer a {
  text-decoration: none;
  color: linen;
  font-size: 1rem;
}

.footer p {
  color: coral;
  font-size: 1.1rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  padding-right: 1rem;
}

.footer img {
  margin: 1rem;
  height: 3.75rem;
  -webkit-transform: translateX(3rem);
          transform: translateX(3rem);
}

.enlaces {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: enlaces;
}

.redes {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: redes;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  body {
    background-color: #A11C41;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#A11C41), to(coral));
    background-image: linear-gradient(to bottom, #A11C41, coral);
  }
  /* Footer */
  .footer {
    background-color: coral;
  }
  .footer p {
    color: #A11C41;
  }
  .footer a {
    color: black;
  }
  /* Index */
  .novedades a {
    color: coral;
  }
  .img-fit {
    width: 100vw;
    height: auto;
  }
  /* Productos */
  .table-dream {
    --bs-table-bg: hsl(343, 70%, 37%);
    --bs-table-striped-bg: #ad1f47;
    --bs-table-striped-color: linen;
    color: linen;
    border-color: coral;
  }
  .productos table th {
    color: coral;
  }
  .dropdown-menu {
    background-color: #ff7f506e;
  }
  .caption {
    color: coral;
  }
  /* Contacto */
  .formulario label {
    color: black;
  }
  .formulario textarea {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  /* Historia */
  .historia p {
    color: linen;
  }
  .historia img {
    height: 16rem;
  }
}
/*# sourceMappingURL=style.css.map */