*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* Body */

body{
    background-color: coral;
    background-image: linear-gradient(to top, #A11C41, coral);
}

.arriba{
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    z-index: 10; 
}

.arriba img{
    width: 50px;
    height: 50px;
}

.arriba :hover{
    transform: scale(1.1);
}

.card {
    background-color: rgba(255, 255, 255, 0.5);
  }

/* Navbar */

.navbar{
    background-color: #A11C41;
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/chocolate-1533631081.jpg?resize=768:*);
    background-size: cover;
    margin: 1.5 rem;
    font-family: 'Roboto', sans-serif;
}

.navbar ul{
    list-style-type: none;
    padding: 2rem;
    color: #A11C41;
}

.navbar li{
    display: inline-block;
    margin: .25rem;
}

.navbar a{
    text-decoration: none;
    color: linen;
    font-size: 1rem;
}

.navbar a:hover, .navbar a:focus{
    color: coral;
}

.dropdown-menu {
    background-color: #a11c4249;
    background-blend-mode: saturation;
    border: none;
}

/* Index */

.novedades{
    padding: 1.5rem;
    background-image: linear-gradient(to top, #A11C41, coral);
}

.novedades p{
    font-family: 'Roboto', sans-serif;
    color: black;
}

.novedades a{
    text-decoration: none;
    color: #A11C41;
}

.mb-3 {
    margin-bottom: 0rem !important;
  }

.img-fit{
    height: 36vh;
}

/* Galería */

.g-4{
    margin: 2.5rem;
}


/* Historia */

.text-white{
    margin-top: 2.5rem !important;
}

.card-title-overlay{
    transform: translateY(25rem);
    font-size: 1.6rem;
    background-color: #1a1d2080;
    text-align: center;
}

.card-text-overlay{
    transform: translateY(25rem);
    font-size: 1.1rem;
    background-color: #1a1d2080;
    text-align: center;
}

.border-light{
    border-color: transparent !important;
}

.medialunas{
    transform: scale(.95);
}

.jurassic{
    transform: scale(.95);
}

.ps{
    transform: scale(.95);
}

.historia .card{
    margin: 1rem;
}

/* Productos  */


.caption{
    margin-top: 2.5rem;
    color: #A11C41;
    font-family: 'Italianno', cursive;
    font-size: 1.75rem;
}

.productos table th{
    font-family: 'Italianno', cursive;
    font-size: 1.75rem;
    text-align: center;
    color: #A11C41;
    padding-inline: .5rem;
}

.table {
    padding: 1rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.table-dream {
    --bs-table-bg: coral;
    --bs-table-striped-bg: #ff7752;
    color: #000;
    border-color: #A11C41;
}

.productos{
    background-image: none !important;
}

/* Contacto */

.formulario{
    padding: 1rem;
    background-image: linear-gradient(to top, #A11C41, coral);
}

.formulario label{
    font-family: 'Roboto', sans-serif;
    color: linen;
}

.formulario input{
    font-family: 'Roboto', sans-serif;
    margin: 1rem;
    margin-left: 3rem;
}

.formulario textarea{
    font-family: 'Roboto', sans-serif;
    margin-top: 1rem;
    margin-left: 3rem;
}

.name{
    transform: translateX(5px)
}

.lastname{
    transform: translateX(5px)
}

.mail{
    transform: translateX(-17px);
}

.bttn{
    cursor: pointer;
    border-radius: 1rem;
    padding: .25rem;
    margin: .25rem;
}

.bttn:hover, .bttn:focus{
    transform: scale(1.05);
    color: coral;
}


/* Footer */

.footer{
    background-color: #A11C41;
    grid-area: footer;
    display: grid;
    grid-template-areas:
    "enlaces none none redes";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    row-gap: 10px;
    column-gap: 10px;
    height: 30vh;
    transform: translateY(bottom);
}

.footer ul{
    list-style-type: none;
    padding: 2rem;
}

.footer a{
    text-decoration: none;
    color: linen;
    font-size: 1rem;
}

.footer p{
    color: coral;
    font-size: 1.1rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    padding-right: 1rem;
}

.footer img{
    margin: 1rem;
    height: 3.75rem;
    transform: translateX(3rem);
}

.enlaces{
    grid-area: enlaces;
}

.redes{
    grid-area: redes;
}



/* Media Queries */

@media screen and (max-width: 768px) {
body {
    background-color: #A11C41;
    background-image: linear-gradient(to bottom #A11C41, coral);
}


/* Footer */

.footer{
    background-color: coral;

}

.footer p{
    color: #A11C41;
}

.footer a{
    color: black;
}


/* Index */

.novedades a{
    color: coral;
}


/* Productos */

.table-dream {
        --bs-table-bg: hsl(343, 70%, 37%);
        --bs-table-striped-bg: #ad1f47;
        --bs-table-striped-color: linen;
        color: linen;
        border-color: coral;
}

.productos table th{
    color: coral;
}

.dropdown-menu {
    background-color: #ff7f506e;
}

.caption{
    color: coral;
}

/* Contacto */

.formulario label{
    color: black;
}

.formulario textarea{
    transform: scale(0.7);
}

/* Historia */

.historia p{
    color: linen;
}

.historia img{
    height: 16rem;
}

}