*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* Body */

body{
    background-color: coral;
}

.arriba{
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    z-index: 10; 
}

.arriba img{
    width: 50px;
    height: 50px;
}

.arriba :hover{
    transform: scale(1.1);
}

/* Navbar */

.navbar{
    background-color: #A11C41;
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/chocolate-1533631081.jpg?resize=768:*);
    background-size: cover;
    margin: 1.5 rem;
    font-family: 'Roboto', sans-serif;
    grid-area: nav;
}

.navbar ul{
    list-style-type: none;
    padding: 2rem;
}

.navbar li{
    display: inline-block;
    margin: .25rem;
}

.navbar a{
    text-decoration: none;
    color: linen;
    font-size: 1rem;
}

.navbar a:hover, .navbar a:focus{
    color: coral;
}

.navbar__sub{
    font-family: 'Roboto', sans-serif;
    grid-area: subnav;
    background-image: linear-gradient(to top, #A11C41, coral);
    transform:translateY(15px);
}

.navbar__sub ul{
    list-style-type: none;
    padding: 1rem;
    text-align: center;
}

.navbar__sub li{
    display: inline-block;
    padding: 1rem;
}

.navbar__sub a{
    text-decoration: none;
    color: linen;
    font-size: 1rem;
    margin: 1rem;
    padding: .5rem;
}

.navbar__sub ul :hover{
    transform: scale(1.1);
}

/* Index */

.novedades{
    display: grid;
    grid-template-areas:
    "nav nav"
    "navidad"
    "sombrero sombrero"
    "rosas rosas"
    "zapato zapato"
    "footer footer";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 90vw;
    row-gap: 2.5rem;
    column-gap: 1rem;
    padding: 1.5rem;
    background-image: linear-gradient(to top, #A11C41, coral);
}

.novedades p{
    font-family: 'Roboto', sans-serif;
}

.novedades a{
    text-decoration: none;
    color: #A11C41;
}

.novedades img{
    width:fit-content
    /* height: 20rem; */
}

.navidad{
    display: grid;
    grid-template-areas:
    "img_rosca txt_rosca";
    grid-template-columns: repeat(2, 1fr);
    column-gap: .5rem;
}

.sombrero{
    display: grid;
    grid-template-areas:
    "txt_sombrero img_sombrero";
    grid-template-columns: repeat(2, 1fr);
    column-gap: .5rem;
}

.rosas{
    display: grid;
    grid-template-areas:
    "img_rosas txt_rosas";
    grid-template-columns: repeat(2, 1fr);
    column-gap: .5rem;
}

.zapato{
    display: grid;
    grid-template-areas:
    "txt_zapato img_zapato";
    grid-template-columns: repeat(2, 1fr);
    column-gap: .5rem;
}

.img_rosca{
    grid-area: img_rosca
}

.txt_rosca{
    grid-area: txt_rosca
}

.img_sombrero{
    grid-area: img_sombrero
}

.txt_sombrero{
    grid-area: txt_sombrero
}

.img_rosas{
    grid-area: img_rosas
}

.txt_rosas{
    grid-area: txt_rosas
}

.img_zapato{
    grid-area: img_zapato
}

.txt_zapato{
    grid-area: txt_zapato
}


/* Galería */

.galería{
    display: grid;
    grid-template-areas:
    "nav nav"
    "fila1 fila1"
    "fila2 fila2"
    "fila3 fila3"
    "footer footer";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: .5rem;
    column-gap: .5rem;
    height: 100vh;
}

.fila img{
    margin-left: .5rem;
}

.fila1{
    grid-area: fila1
}

.fila2{
    grid-area: fila2
}

.fila3{
    grid-area: fila3
}


/* Historia */
.historia p{
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.historia img{
    height: 250px;
    display: inline-block;
}


/* Productos  */

.productos{
    display: grid;
    grid-template-areas: 
    "nav nav nav"
    "subnav choco desayunos"
    "subnav tortas postres"
    "subnav cafecito especiales"
    "footer footer footer";
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-columns: 1fr 2fr 2fr;
    row-gap: 10px;
    column-gap: 10px;
    height: 100vh;
}

.choco{
    grid-area: choco;
}

.desayunos{
    grid-area: desayunos;
}

.tortas{
    grid-area: tortas;
}

.postres{
    grid-area: postres;
}

.cafecito{
    grid-area: cafecito;
}

.especiales{
    grid-area: especiales;
}

.product{
    padding: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #A11C41;
}

.productos table th{
    font-family: 'Italianno', cursive;
    font-size: 1.75rem;
    text-align: center;
    color: #A11C41;
    padding-inline: .5rem;
}

.table {
    color: #A11C41;
    border-color: #A11C41;
  }

/* Contacto */

.formulario{
    padding: 1rem;
}

.formulario label{
    font-family: 'Roboto', sans-serif;
}

.formulario input{
    font-family: 'Roboto', sans-serif;
    margin: 1rem;
    margin-left: 3rem;
}

.formulario textarea{
    margin-top: 1rem;
    margin-left: 3rem;
}

.name{
    transform: translateX(5px)
}

.lastname{
    transform: translateX(5px)
}

.mail{
    transform: translateX(-17px);
}


.bttn{
    cursor: pointer;
    border-radius: 1rem;
    padding: .25rem;
    margin: .25rem;
}

.bttn:hover, .bttn:focus{
    transform: scale(1.05);
}


/* Footer */

.footer{
    background-color: #A11C41;
    grid-area: footer;
    display: grid;
    grid-template-areas:
    "enlaces none none redes";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    row-gap: 10px;
    column-gap: 10px;
    height: 30vh;
    transform: translateY(bottom);
}

.footer ul{
    list-style-type: none;
    padding: 2rem;
}

.footer a{
    text-decoration: none;
    color: linen;
    font-size: 1rem;
}

.footer p{
    color: coral;
    font-size: 1.1rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    padding-right: 1rem;
}

.footer img{
    width: 75px;
    height: 75px;
    transform: translateX(50px);
}

.enlaces{
    grid-area: enlaces;
}

.redes{
    grid-area: redes;
}



/* Media Queries */

@media screen and (max-width: 768px) {
body {
    background-color: #A11C41;
}

.novedades{
    background-image: linear-gradient(#A11C41, coral);
}
    
.novedades p{
    color: linen;
}

.novedades a{
    color: coral;
}

.footer{
    background-color: coral;

}

.footer p{
    color: #A11C41;
}

.footer a{
    color: black;
}

.productos{
    grid-template-areas: 
    "nav nav"
    "subnav choco"
    "subnav desayunos"
    "subnav tortas"
    "subnav postres"
    "subnav cafecito"
    "subnav especiales"
    "footer footer";
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    row-gap: 10px;
    column-gap: 10px;
    height: 100vh;
}

.productos table th{
    color: coral;
}

.table{
    color: coral;
    border-color: coral;
    margin: 1rem;
}

.productos td{
    color: linen;
}

.navbar__sub{
    background-image: linear-gradient(to bottom, #A11C41, coral);
}

.navbar__sub li{
    display: inline-block;
    padding: 1rem;
    align-items: center;
}

.navbar__sub a{
    text-decoration: none;
    text-align: center;
    color: linen;
    font-size: 1rem;
    margin: 1rem;
    padding: rem;
}

.formulario label{
    color: coral;
}

.historia p{
    color: linen;
}

.historia img{
    height: 16rem;
}

}